.container-fluid
  %nav
    %ul.list-group.list-group-flush
      - @set_menu.each do |key, titles|
        - selected = key == local_assigns[:selected_key]
        %li.list-group-item
          %a.text-decoration-none{ 'data-toggle': :collapse,
                                   'data-target': "#key#{key.ord}" }
            = key
          %nav.collapse{ id: "key#{key.ord}", class: selected && 'show' }
            %ul.nav.nav-pills.flex-column
              - titles.each do |(id, name, _kana)|
                %li.nav-item
                  = link_to name, article_path(id), class: 'nav-link'
